a {
  text-decoration: none;
  &:active,
  &:visited {
    color: var(--text-link-color);
  }
  &:hover {
    color: var(--text-link-color-light);
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: var(--text-color-primary);
    &:active,
    &:visited,
    &:hover {
      color: var(--text-color-primary);
    }
    &:hover {
    }
  }
}
