:root {
  --primary-color: #de5c5c;
  --primary-color-light: #f76666;

  --text-color-primary: #000;
  --text-color-primary-light: #131313;
  --text-link-color: #194edf;
  --text-link-color-light: #1a53f0;

  --bg-color: #fff;
  --shadow-color: #ccc;
  --bg-code-title-color: #ccc;
  --bg-code-color: #fff;
}

html[theme="dark"] {
  --text-color-primary: #fff;
  --text-color-primary: #e4e4e4;

  --bg-color: #1e1f1c;
  --shadow-color: #000000;
  --bg-code-title-color: var(--bg-color);
  --bg-code-color: #272823;
}
